<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>JWT토큰 데이터 입력 폼</title>
</head>
<body>
    
    <form method="POST" action="/member/form">

        제품번호 : <input type="text" name="productId"><br>
        제품명 : <input type="text" name="productName"><br>
        제품가격 : <input type="text" name="price"><br>
        제조사 : <input type="text" name="provider"><br>
        재고수량 : <input type="text" name="stock"><br>
        <input type="submit" value="JWT 토큰발급">
    </form>
</body>
</html>